@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #0f0f0f;
}

@layer base {
  h1 {
    @apply xl:text-6xl  text-white text-5xl font-medium  md:leading-tight xl:leading-tight lg:leading-tight;
  }
  h2 {
    @apply text-white   xl:text-5xl lg:text-4xl  text-3xl font-semibold leading-tight;
  }
  h3 {
    @apply text-white   xl:text-4xl lg:text-3xl md:text-3xl text-xl font-semibold leading-tight mb-4;
  }
  h4 {
    @apply text-white   xl:text-3xl lg:text-3xl md:text-3xl text-xl font-semibold leading-tight mb-4;
  }
  h5 {
    @apply text-white   md:text-2xl     text-xl font-semibold leading-tight mb-3;
  }
  h6 {
    @apply text-white   md:text-xl     text-lg font-semibold leading-tight mb-2;
  }
  p {
    @apply xl:text-lg   md:text-base text-sm  text-[#8c8a8a];
  }
}

p {
  color: #ababab;
}
.bg-hover {
  transition: all 500ms;
}
.btn-hover {
  transition: all 500ms;
}
.btn-hover:hover {
  transform: scale(1.07);
}
.bg-img {
  background-image: url("/images/work-img-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Target the scrollbar */
.bg-scroll::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.bg-scroll::-webkit-scrollbar-track {
  background: #0f0f0f;
}

/* Handle */
.bg-scroll::-webkit-scrollbar-thumb {
  background: #2d2d2d;
  border-radius: 6px;
  margin-top: 10px;
}

/* Handle on hover */
.bg-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* styles.css or a relevant CSS file/module */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-text {
  background: linear-gradient(270deg, #ff3cac, #784ba0, #c1d508);
  background-size: 600% 600%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 5s ease infinite;
}

/* Custom CSS if not using Tailwind */
.transition-opacity {
  transition: opacity 0.5s ease-in-out;
}

.opacity-100 {
  opacity: 1;
}

.opacity-0 {
  opacity: 0;
}

@media screen and (max-width: 628px) {
  .bg-scroll::-webkit-scrollbar {
    display: none;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 0.5s ease-out;
}
