@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #0f0f0f;
}

p {
  color: #ababab;
}
.bg-hover {
  transition: all 500ms;
}
.btn-hover {
  transition: all 500ms;
}
.btn-hover:hover {
  transform: scale(1.03);
}
.bg-img {
  background-image: url("/images/work-img-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Target the scrollbar */
.bg-scroll::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.bg-scroll::-webkit-scrollbar-track {
  background: #0f0f0f;
}

/* Handle */
.bg-scroll::-webkit-scrollbar-thumb {
  background: #2d2d2d;
  border-radius: 6px;
  margin-top: 10px;
}

/* Handle on hover */
.bg-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}
